/* Create your own custom variables to use in other files */
$bodycolor: rgb(124,124,124);
$iconcolor: rgb(188, 188, 188);


/* Override default Bootstrap variables here */
$blue: #73c8a9 !default;
$orange: #e1b866 !default;

$border-radius: 0 !default;
$border-radius-lg: 0 !default;
$border-radius-sm: 0 !default;
$input-border-focus: $orange !default;